.Appp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
  text-align: center;
}
.pop{
  border:solid 3px rgb(255, 0, 0);
  border-radius: 4px;
  padding: 30px;
}
.dop{
  color:rgb(50, 23, 172);
  font-size: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#weight{
  font-size: medium;
  padding:20px;
  padding-top: 8px;;
}
#height{
  font-size: medium;
  padding:15px;
  padding-top: 5px;;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* border:dotted  3px black;
  border-radius: 4px; */
}


.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}
  .login-form {
   
    width: 30%; 
    border: 2px solid #fff; 
    padding: 60px; 
    box-sizing: border-box; 
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-right: 50px;
  }  
  .login-form h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  }
  
  .login-form .form-group {
    position: relative;
  }


  .login-form .form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-form .form-group label {
    position: absolute;
    top: -23px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }


  .login-form .form-group input:focus + label,
  .login-form .form-group input:not(:placeholder-shown) + label {
    top: -20px; 
    font-size: 12px;
    color: #03e9f4;
  }


  .login-container form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: #2c3e50;
  }
  
  
  
  .login-container form button span {
    position: absolute;
    display: block;
  }
  
  .login-container form button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-container form button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-container form button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-container form button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  .login-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpaperaccess.com/full/2241541.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  }

  .bmi-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/premium-vector/body-mass-index-weight-loss-concept-bmi-scale-before-after-diet-fitness-healthy-lifestyle-vector-illustration_476325-1424.jpg?w=2000');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
  }

  .signup-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }
    .signup-form {
      width: 30%; 
      border: 2px solid #fff; 
      padding: 60px; 
      box-sizing: border-box; 
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      margin-right: 50px;
    }  
    .signup-form h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    }
    
    .signup-form .form-group {
      position: relative;
    }
  
  
    .signup-form .form-group input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
  
    .signup-form .form-group label {
      position: absolute;
      top: -23px; 
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
  
  
    .signup-form .form-group input:focus + label,
    .signup-form .form-group input:not(:placeholder-shown) + label {
      top: -20px; 
      font-size: 12px;
      color: #03e9f4;
    }
  
  
    .signup-container form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: #2c3e50;
    }
    
   
    
    .signup-container form button span {
      position: absolute;
      display: block;
    }
    
    .signup-container form button span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-anim1 1s linear infinite;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
    }
    
    .signup-container form button span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
    }
    
    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
    }
    
    .signup-container form button span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
    }
    
    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
    }
    
    .signup-container form button span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
    }
    
    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
    }
    
    .signup-background {
      position: relative;
      width: 100%;
      height: 100vh;
    }
    
    .signup-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('https://img.freepik.com/premium-photo/3d-rendering-black-dumbbells-floor-dark-concept-fitness-room-with-training-equipments-back_67155-14961.jpg'); 
      background-size: cover;
      background-position: center;
      opacity: 0.5; 
      z-index: -1; 
    }

    span{
      font-size: 50px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(195, 195, 169);
    }
    .Leg-Background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 147%;
      background-image: url('https://wallpaperaccess.com/full/1244822.jpg'); 
      background-size: cover;
      background-position: center;
      opacity: 0.8; 
      z-index: -1;
    }
    .slider {
      position: relative;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .image {
      width: 1000px;
      height: 600px;
      border-radius: 10px;
    }
    
    .right-arrow {
      position: absolute;
      top: 50%;
      right: 32px;
      font-size: 3rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    
    .left-arrow {
      position: absolute;
      top: 50%;
      left: 32px;
      font-size: 3rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    
    .slide {
      opacity: 0;
      transition-duration: 1s ease;
    }
    
    .slide.active {
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1.08);
    }

    .hero {
      height: 100%;
      width: 100%;
      background-image: url(https://wallpapercave.com/wp/wp7353763.jpg);
      background-size: cover;
      color: #725151;
      text-align: start;
      padding: 150px 0;
  }
  
  .hero h1 {
      font-size: 2.5rem;
      color: rgb(96, 84, 84);
      margin-left: 20px;
  }
  
  .hero p {
      font-size: 1.25rem;
      margin: 20px 0;
      color: rgb(94, 83, 83);
      margin-left: 90px;
  }
  .hero ul{
      margin-left: 90px;
  
  }
  
  .cta-button {
      display: inline-block;
      background-color: #ff613d;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 5px;
      margin-left: 210px;
  }
  
  
  footer {
    height: auto;
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1rem 0;
  }

.container{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  
  
  
}
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,.btn2{
  color: #3498db;
}

.btn1:hover,.btn2:hover{
  color: #fff;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}

.app {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header.wlo {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.article {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article h2 {
  margin-top: 20px;
}

.article p {
  margin-bottom: 20px;
}

.article-image {
  /* max-width: 100%; */
  /* height: auto; */
  margin-top: 10px;
  margin-bottom: 10px;
  height:300px;
}
.article-image2{
  max-width: 100%; 
   height: auto; 
  margin-top: 10px;
  margin-bottom: 10px;
}

footer.wl {
  text-align: center;
  margin-top: 20px;
}
.box {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 100vmin;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      rgb(138, 112, 163),
      rgb(96, 96, 171) 50%,
      rgb(110, 100, 119)
    )
    ,
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
    
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

/* App.css
.App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.about-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}